.check {
  padding: 30px;
  border-top: 1px solid $border-color2;
  border-bottom: 1px solid $border-color2;
  background-color: $bg-color1;

  @include flex(flex-start, flex-start, row);
  gap: 10px;
}
