.login-userContainer {
  max-width: 1080px;
  margin: 0 auto;
  background: $text-color1;
  margin: 46px 0 100px;

  @include flexBetween;
  padding: 30px 90px 50px 90px;
  .btn {
    display: inline-block;
  }

  .rectBtn {
    min-width: auto;
    width: 100px;
    height: 100px;
    padding: 16px 25px;
    font-size: 18px;

    margin: 30px 0;
  }

  .inputBox {
    @include flexCenter;

    label {
      font-size: 16px;
      color: $text-color2;
      font-weight: normal;
      width: 80px;
    }

    input {
      height: 44px;
      border: 1px solid $border-color2;
      border-radius: 6px;
      padding: 0 18px;

      // width: 300px;
    }
  }

  a {
    div:nth-of-type(1) {
      font-size: 18px;
      font-weight: bold;
    }
    div:nth-of-type(2) {
      font-size: 14px;
      margin-top: 7px;
      color: $text-color2;
    }
  }

  .signupLink-container {
    position: relative;
    &::after {
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, 0);
      background-image: url("/Users/gim-yelim/Desktop/jejubus/src/assets/svgs/arrow.svg");
    }
  }
  .btn {
    color: $text-color2;
    background: $bg-color2;
  }

  .googleBtn {
    min-width: 180px;
  }

  /* span 태그 option */
  .tooltip {
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 50%;

    div {
      position: absolute;
      display: none;
      width: 20em;
      bottom: -5em;
      left: calc(-50% + 1.25em);
      padding: 0.5em 1.5em;
      text-align: center;
      color: $text-color3;
      font-size: 14px;
      background-color: $text-color1;
      border: 1px solid $bg-color3;
      border-radius: 5px;
      -webkit-transform: translateX(calc(-50%));
      -webkit-border-radius: 0.4em;
    }
    &:hover div,
    &:focus div {
      display: block;
    }
  }
}
.fail-message {
  font-size: 14px;
  color: $primary-color2;
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 885px) and (max-width: 970px) {
  .login-userContainer {
    padding: 15px 30px 30px 30px;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 811px) and (max-width: 884px) {
  .login-userContainer {
    padding: 15px 0px 30px 0px;
  }
}
/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 810px) {
  .login-userContainer {
    padding: 15px;
    flex-direction: column-reverse;

    a {
      div:nth-of-type(1) {
        margin-left: 30px;
        margin-top: 20px;
      }

      div:nth-of-type(2) {
        margin: 15px 0 30px 30px;
      }
    }

    .rectBtn {
      height: auto;
    }

    .googleBtn {
      width: 100%;
      height: auto;
    }
  }
}
