$border-color1: #eaeaea;
$border-color2: #f0f0f0;
$border-color3: #dae7e3;
$border-color4: #303030;
$border-color5: #e6e6e6;

$text-color1: #fff;
$text-color2: #707070;
$text-color3: #000;
$text-color4: #777;

$primary-color1: #feb941;
$primary-color2: #c40c0c;
$primary-color3: #1e4066;

$bg-color1: #fafafc;
$bg-color2: #f3f4f8;
$bg-color3: #3b434d;
